.btn-buy {
  width: 170px;
  height: 40px;
  font-family: $font-family;
  font-weight: bold;
  font-style: normal;
  font-size: $font-size - 2;
  color: #333333;
  background-color: transparent;
  border: 1px solid #333333;
  transition: background-color 0.3s linear;

  &:hover {
    background-color: red;
    border: 1px solid red;
  }

  &:active {
    transform: scale(0.85);
  }

  &:focus {
    outline: none;
  }

  @media (min-width: $screen-lg) {
    width: 170px;
    height: 50px;
  }
}
