.model {
  height: 1063px;
  background-color: #f3f3f3;

  @media (min-width: $screen-m) {
    height: 900px;
  }

  @media (min-width: $screen-lg) {
    height: 1063px;
  }

  &__container {
    @include content-area();
  }

  &__title {
    /*две черты перемещаем над заголовком и под ним*/
    position: relative;
    padding-top: 70px;
    font-family: $font-family;
    font-weight: normal;
    font-style: italic;
    font-size: $font-size + 10;
    line-height: $line-height;
    color: #333333;
    text-align: center;

    @media (min-width: $screen-m) {
      padding-top: 98px;
      font-size: $font-size + 22;
    }

    &:before,
    &:after {
      position: absolute;
      display: block;
      content: '';
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 110px;
      border: 2px solid #dc0000;

      @media (min-width: $screen-m) {
        width: 80px;
        font-size: $font-size + 22;
        border: 3px solid #dc0000;
      }
    }

    &:before {
      top: 47px;

      @media (min-width: $screen-m) {top: 57px; }
    }

    &:after {
      bottom: -30px;

      @media (min-width: $screen-m) {bottom: -40px; }
    }
  }

  &__wrap {
    margin-top: 98px;
    box-sizing: border-box;

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    @media (min-width: $screen-m) and (max-width: $screen-lg - 1) {
      /*передвигаю кнопки*/
      position: relative;
      height: 380px;
    }
  }

  &__slider-wrap {

    @media (min-width: $screen-m) {
      float: left;
      margin-right: 30px;
    }
  }

  &__description-wrap {

    @media (min-width: $screen-m) {
      float: left;
  }
  }

  &__reviews-wrap {
    margin-top: 55px;
  }
}
