.reviews-item {

  .reviews-item-foto {
    display: block;
    margin: 0 auto;

    @media (min-width: $screen-m) {
      float: left;
      margin-right: 30px;
      width: 170px;
    }
  }

  &:after {
    display: block;
    content: '';
    clear: both;
  }

  &__box-wrap {

    @media (max-width: $screen-m - 1) {
      margin-top: 10px;
    }

    @media (min-width: $screen-m) {
      float: left;
    }
  }
}
