.slider-model {
  /*картинки располагаем одна над другой*/
  position: relative;
  width: $screen-s-content;
  height: 320px;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;

  @media (min-width: $screen-m) {
    width: 300px;
    height: 320px;
  }

  @media (min-width: $screen-lg) {
    width: 570px;
    height: 570px;
  }

  .slider-model-img {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    @media (min-width: $screen-s) and (max-width: $screen-m - 1) {
      width: 100%;
  }

    @media (min-width: $screen-m) and (max-width: $screen-lg - 1) {
      width: 100%;
  }
  }
  .slider-model-img--active {
    z-index: 2;
    opacity: 1;
  }
}
