/* Open Sans-regular */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/subset-OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/subset-OpenSans-Regular.woff') format('woff'),
    url('../fonts/subset-OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* OpenSans-Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/subset-OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/subset-OpenSans-Bold.woff') format('woff'),
    url('../fonts/subset-OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* OpenSans-Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/subset-OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/subset-OpenSans-Italic.woff') format('woff'),
    url('../fonts/subset-OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Myriad Pro */
@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/subset-MyriadPro-Regular.woff2') format('woff2'),
    url('../fonts/subset-MyriadPro-Regular.woff') format('woff'),
    url('../fonts/subset-MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
