$screen-s:                   320px;
$screen-s-content:           290px;

$screen-m:                   768px;
$screen-m-content:           740px;

$screen-lg:                   1200px;
$screen-lg-content:           1170px;

$text-color:                  #777777;

$font-family:                 'Open Sans', sans-serif;

$font-size:                   18px;
$line-height:                 19px;
